In [7]:
import matplotlib.pyplot as plt

import numpy as np
import sys  
sys.path.append('../main/')
from multi_py.multi import *
from os.path import dirname, join as pjoin
import scipy.io as sio
from scipy.io import readsav
import copy
import pandas as pd
import os
from scipy import integrate
# from scipy.signal import argrelextremab



%config InlineBackend.figure_format='svg'
plt.style.use('default')
plt.style.use('../main/multi_py/Bergemann2020.mplstyle')

In [8]:
NLTE3Dcorr_iosmet = np.load('../mdata/3DNLTE_abund_corr_IOSMET_5wls.npy')
NLTE3Dcorr_no_iosmet = np.load('../mdata/3DNLTE_abund_corr_noIMET_5wls.npy')
NLTE1Dcorr_iosmet = np.load('../mdata/1DNLTE_abund_corr_IOSMET_5wls.npy')
NLTE1dcorr_no_ismet = np.load('../mdata/1DNLTE_abund_corr_no_iosmet_5wls.npy')
runs = [NLTE3Dcorr_iosmet, NLTE3Dcorr_no_iosmet, NLTE1Dcorr_iosmet, NLTE1dcorr_no_ismet]

In [9]:
mus = [1.0, 0.9, 0.8, 0.6, 0.4, 0.2]
lambs = [5645.613, 5684.484, 5701.104, 5772.146, 7034.901]

In [10]:
NLTE3Dcorr_iosmet_pd=pd.DataFrame(NLTE3Dcorr_iosmet, columns=mus, index=lambs).T.round(3)
print(NLTE3Dcorr_iosmet_pd.to_latex())

\begin{tabular}{lrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &    -0.065 &    -0.074 &    -0.029 &    -0.080 &    -0.070 \\
0.9 &    -0.096 &    -0.121 &    -0.093 &    -0.131 &    -0.106 \\
0.8 &    -0.104 &    -0.130 &    -0.097 &    -0.140 &    -0.115 \\
0.6 &    -0.148 &    -0.185 &    -0.150 &    -0.198 &    -0.165 \\
0.4 &    -0.246 &    -0.302 &    -0.248 &    -0.323 &    -0.272 \\
0.2 &    -0.477 &    -0.571 &    -0.434 &    -0.609 &    -0.521 \\
\bottomrule
\end{tabular}

In [11]:
for i, run in enumerate(runs):
    df = pd.DataFrame(run, columns=mus, index=lambs).T.round(3)
    # print(runs[i])
    print(df.to_latex(column_format='l|rrrrrr'))

\begin{tabular}{l|rrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &    -0.065 &    -0.074 &    -0.029 &    -0.080 &    -0.070 \\
0.9 &    -0.096 &    -0.121 &    -0.093 &    -0.131 &    -0.106 \\
0.8 &    -0.104 &    -0.130 &    -0.097 &    -0.140 &    -0.115 \\
0.6 &    -0.148 &    -0.185 &    -0.150 &    -0.198 &    -0.165 \\
0.4 &    -0.246 &    -0.302 &    -0.248 &    -0.323 &    -0.272 \\
0.2 &    -0.477 &    -0.571 &    -0.434 &    -0.609 &    -0.521 \\
\bottomrule
\end{tabular}

\begin{tabular}{l|rrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &     0.070 &     0.068 &     0.081 &     0.065 &     0.069 \\
0.9 &     0.051 &     0.036 &     0.026 &     0.031 &     0.047 \\
0.8 &     0.049 &     0.034 &     0.025 &     0.028 &     0.044 \\
0.6 &     0.026 &     0.004 &    -0.016 &    -0.003 &     0.018 \\
0.4 &    -0.031 &    -0.067 &    -0.095 &    -0.079 &    -0.045 \\
0.2 &    -0.171 &    -0.233 &    -0.247 &    -0.258 &    -0.195 \\
\bottomrule
\end{tabular}

\begin{tabular}{l|rrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &    -0.000 &    -0.001 &    -0.003 &    -0.001 &    -0.001 \\
0.9 &    -0.000 &    -0.001 &    -0.003 &    -0.001 &    -0.001 \\
0.8 &    -0.001 &    -0.001 &    -0.003 &    -0.001 &    -0.001 \\
0.6 &    -0.001 &    -0.001 &    -0.003 &    -0.001 &    -0.001 \\
0.4 &    -0.001 &    -0.001 &    -0.003 &    -0.001 &    -0.001 \\
0.2 &    -0.001 &    -0.001 &    -0.003 &    -0.001 &    -0.001 \\
\bottomrule
\end{tabular}

\begin{tabular}{l|rrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &     0.019 &     0.018 &     0.014 &     0.017 &     0.018 \\
0.9 &     0.018 &     0.017 &     0.013 &     0.016 &     0.017 \\
0.8 &     0.017 &     0.015 &     0.011 &     0.014 &     0.016 \\
0.6 &     0.012 &     0.009 &     0.004 &     0.007 &     0.010 \\
0.4 &     0.000 &    -0.007 &    -0.011 &    -0.011 &    -0.004 \\
0.2 &    -0.049 &    -0.068 &    -0.060 &    -0.076 &    -0.060 \\
\bottomrule
\end{tabular}

## Atom file data table

In [12]:
d = {'lambda_atom Å': [7034.901,5645.613,5684.484, 5701.104,  5772.146, 7226.208],  'lambda paper(obs)Å': [7034.897, 564.5613, 5684.484, 5701.105, 5772.146, '-'], 
'e_up (atom)cm-1':[61563.305, 57468.238, 57541.918, 57295.883, 58311.660, 59110.891 ], 'g_up (atom)':[16,5, 3, 1, 1,5],
'e_low (atom)cm-1':[47351.555, 39760.285, 39955.055, 39760.285, 40991.883, 45276.188 ], 'g_low(atom)':[5,3, 5, 3, 3, 3], 'e_up(paper)cm-1':[61402, 57316, 57393, 57149, 58240,'-'], 
'e_low(paper)cm-1': [47292, 39720, 39910, 39720, 40969, '-']}
# 'e_diff(atom)cm-1': [14211.75], 'e_diff (paper) cm-1':[14210.923]}

#'lambda_M3Doutput Å': [7034.49], 'lambda paper(vac)Å': [7036.841],

df = pd.DataFrame(data=d)
df

,lambda_atom Å,lambda paper(obs)Å,e_up (atom)cm-1,g_up (atom),e_low (atom)cm-1,g_low(atom),e_up(paper)cm-1,e_low(paper)cm-1
0,7034.901,7034.897,61563.305,16,47351.555,5,61402,47292
1,5645.613,564.5613,57468.238,5,39760.285,3,57316,39720
2,5684.484,5684.484,57541.918,3,39955.055,5,57393,39910
3,5701.104,5701.105,57295.883,1,39760.285,3,57149,39720
4,5772.146,5772.146,58311.660,1,40991.883,3,58240,40969
5,7226.208,-,59110.891,5,45276.188,3,-,-

In [13]:
df_2 = df[['lambda_atom Å', 'e_up (atom)cm-1', 'e_low (atom)cm-1', 'g_up (atom)', 'g_low(atom)']]
df_2.drop(index=5, inplace=True)
df_2.set_index('lambda_atom Å', inplace=True)
df_2.sort_index(inplace=True)
df_2

/software/astro/anaconda/anaconda3-2020.11/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/software/astro/anaconda/anaconda3-2020.11/lib/python3.8/site-packages/pandas/core/frame.py:6393: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().sort_index(

               e_up (atom)cm-1  e_low (atom)cm-1  g_up (atom)  g_low(atom)
lambda_atom Å
5645.613             57468.238         39760.285            5            3
5684.484             57541.918         39955.055            3            5
5701.104             57295.883         39760.285            1            3
5772.146             58311.660         40991.883            1            3
7034.901             61563.305         47351.555           16            5