In [2]:
import matplotlib.pyplot as plt
import numpy as np
import sys  
sys.path.append('../main/')
from multi_py.multi import *
from os.path import dirname, join as pjoin
import scipy.io as sio
from scipy.io import readsav
import pandas as pd
import pickle

%config InlineBackend.figure_format='svg'
plt.style.use('default')
plt.style.use('../main/multi_py/Bergemann2020.mplstyle')

In [3]:
NLTE3Dcorr_iosmet = np.load('../mdata/3DNLTE_abund_corr_IOSMET_5wls.npy')
NLTE3Dcorr_no_iosmet = np.load('../mdata/3DNLTE_abund_corr_no_iosmet_5wls.npy')
NLTE1Dcorr_iosmet = np.load('../mdata/1DNLTE_abund_corr_IOSMET_5wls.npy')
NLTE1dcorr_no_ismet = np.load('../mdata/1DNLTE_abund_corr_no_iosmet_5wls.npy')
runs = [NLTE3Dcorr_iosmet, NLTE3Dcorr_no_iosmet, NLTE1Dcorr_iosmet, NLTE1dcorr_no_ismet]

In [4]:
mus = [1.0, 0.9, 0.8, 0.6, 0.4, 0.2]
lambs = [5645.613, 5684.484, 5701.104, 5772.146, 7034.901]

In [5]:
NLTE3Dcorr_iosmet_pd=pd.DataFrame(NLTE3Dcorr_iosmet, columns=mus, index=lambs).T.round(3)
print(NLTE3Dcorr_iosmet_pd.to_latex())

\begin{tabular}{lrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &    -0.065 &    -0.120 &    -0.067 &    -0.074 &    -0.029 \\
0.9 &    -0.096 &    -0.221 &    -0.099 &    -0.121 &    -0.093 \\
0.8 &    -0.104 &    -0.230 &    -0.108 &    -0.130 &    -0.097 \\
0.6 &    -0.148 &    -0.316 &    -0.154 &    -0.185 &    -0.150 \\
0.4 &    -0.246 &    -0.491 &    -0.255 &    -0.302 &    -0.248 \\
0.2 &    -0.477 &    -0.882 &    -0.494 &    -0.571 &    -0.435 \\
\bottomrule
\end{tabular}

In [6]:
for i, run in enumerate(runs):
    df = pd.DataFrame(run, columns=mus, index=lambs).T.round(3)
    # print(runs[i])
    print(df.to_latex(column_format='l|rrrrrr'))

\begin{tabular}{l|rrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &    -0.065 &    -0.120 &    -0.067 &    -0.074 &    -0.029 \\
0.9 &    -0.096 &    -0.221 &    -0.099 &    -0.121 &    -0.093 \\
0.8 &    -0.104 &    -0.230 &    -0.108 &    -0.130 &    -0.097 \\
0.6 &    -0.148 &    -0.316 &    -0.154 &    -0.185 &    -0.150 \\
0.4 &    -0.246 &    -0.491 &    -0.255 &    -0.302 &    -0.248 \\
0.2 &    -0.477 &    -0.882 &    -0.494 &    -0.571 &    -0.435 \\
\bottomrule
\end{tabular}

\begin{tabular}{l|rrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &     0.070 &     0.049 &     0.070 &     0.068 &     0.081 \\
0.9 &     0.051 &    -0.032 &     0.050 &     0.036 &     0.026 \\
0.8 &     0.049 &    -0.032 &     0.047 &     0.034 &     0.025 \\
0.6 &     0.026 &    -0.085 &     0.024 &     0.004 &    -0.016 \\
0.4 &    -0.031 &    -0.201 &    -0.035 &    -0.067 &    -0.095 \\
0.2 &    -0.171 &    -0.466 &    -0.178 &    -0.233 &    -0.247 \\
\bottomrule
\end{tabular}

\begin{tabular}{l|rrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &    -0.000 &    -0.002 &    -0.001 &    -0.001 &    -0.003 \\
0.9 &    -0.000 &    -0.002 &    -0.001 &    -0.001 &    -0.003 \\
0.8 &    -0.001 &    -0.002 &    -0.001 &    -0.001 &    -0.003 \\
0.6 &    -0.001 &    -0.002 &    -0.001 &    -0.001 &    -0.003 \\
0.4 &    -0.001 &    -0.003 &    -0.002 &    -0.001 &    -0.004 \\
0.2 &    -0.001 &    -0.003 &    -0.005 &    -0.001 &    -0.003 \\
\bottomrule
\end{tabular}

\begin{tabular}{l|rrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &     0.019 &     0.007 &     0.019 &     0.018 &     0.014 \\
0.9 &     0.018 &     0.004 &     0.018 &     0.017 &     0.013 \\
0.8 &     0.017 &     0.000 &     0.017 &     0.015 &     0.011 \\
0.6 &     0.012 &    -0.013 &     0.012 &     0.009 &     0.004 \\
0.4 &     0.000 &    -0.046 &    -0.001 &    -0.007 &    -0.011 \\
0.2 &    -0.049 &    -0.156 &    -0.052 &    -0.068 &    -0.060 \\
\bottomrule
\end{tabular}

## Atom file data table

In [7]:
d = {'lambda_atom Å': [7034.901,5645.613,5684.484, 5701.104,  5772.146, 7226.208],  'lambda paper(obs)Å': [7034.897, 564.5613, 5684.484, 5701.105, 5772.146, '-'], 
'e_up (atom)cm-1':[61563.305, 57468.238, 57541.918, 57295.883, 58311.660, 59110.891 ], 'g_up (atom)':[16,5, 3, 1, 1,5],
'e_low (atom)cm-1':[47351.555, 39760.285, 39955.055, 39760.285, 40991.883, 45276.188 ], 'g_low(atom)':[5,3, 5, 3, 3, 3], 'e_up(paper)cm-1':[61402, 57316, 57393, 57149, 58240,'-'], 
'e_low(paper)cm-1': [47292, 39720, 39910, 39720, 40969, '-']}
# 'e_diff(atom)cm-1': [14211.75], 'e_diff (paper) cm-1':[14210.923]}

#'lambda_M3Doutput Å': [7034.49], 'lambda paper(vac)Å': [7036.841],

df = pd.DataFrame(data=d)
df

,lambda_atom Å,lambda paper(obs)Å,e_up (atom)cm-1,g_up (atom),e_low (atom)cm-1,g_low(atom),e_up(paper)cm-1,e_low(paper)cm-1
0,7034.901,7034.897,61563.305,16,47351.555,5,61402,47292
1,5645.613,564.5613,57468.238,5,39760.285,3,57316,39720
2,5684.484,5684.484,57541.918,3,39955.055,5,57393,39910
3,5701.104,5701.105,57295.883,1,39760.285,3,57149,39720
4,5772.146,5772.146,58311.660,1,40991.883,3,58240,40969
5,7226.208,-,59110.891,5,45276.188,3,-,-

In [8]:
df_2 = df[['lambda_atom Å', 'e_up (atom)cm-1', 'e_low (atom)cm-1', 'g_up (atom)', 'g_low(atom)']]
df_2.columns = ['\lambda (Å)', '$E_{upper}$ $cm^{-1}$', '$E_{lower}$ $cm^{-1}$', '$g_{upper}$', '$g_{lower}$']
df_2.drop(index=5, inplace=True)
df_2.set_index('\lambda (Å)', inplace=True)
df_2.sort_index(inplace=True)
df_2['log $gf$'] = [-2.067, -1.420, -2.050, -1.750, -3.714]

df_2

/software/astro/anaconda/anaconda3-2020.11/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/software/astro/anaconda/anaconda3-2020.11/lib/python3.8/site-packages/pandas/core/frame.py:6393: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().sort_index(
/tmp/ipykernel_63699/1265749180.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['log $gf$'] = [-2.067, -1.420, -2.050, -1.750, -3.714]

,$E_{upper}$ $cm^{-1}$,$E_{lower}$ $cm^{-1}$,$g_{upper}$,$g_{lower}$,log $gf$
\lambda (Å),,,,,
5645.613,57468.238,39760.285,5,3,-2.067
5684.484,57541.918,39955.055,3,5,-1.420
5701.104,57295.883,39760.285,1,3,-2.050
5772.146,58311.660,40991.883,1,3,-1.750
7034.901,61563.305,47351.555,16,5,-3.714

In [9]:
def get_f(log_gf, g):
    f = (10**log_gf)/g

    return f

In [10]:
df_2['f'] = df_2.apply(lambda x: get_f(x['log $gf$'], x['$g_{lower}$']), axis=1)
df_2

/tmp/ipykernel_63699/3698065112.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['f'] = df_2.apply(lambda x: get_f(x['log $gf$'], x['$g_{lower}$']), axis=1)

,$E_{upper}$ $cm^{-1}$,$E_{lower}$ $cm^{-1}$,$g_{upper}$,$g_{lower}$,log $gf$,f
\lambda (Å),,,,,,
5645.613,57468.238,39760.285,5,3,-2.067,0.002857
5684.484,57541.918,39955.055,3,5,-1.420,0.007604
5701.104,57295.883,39760.285,1,3,-2.050,0.002971
5772.146,58311.660,40991.883,1,3,-1.750,0.005928
7034.901,61563.305,47351.555,16,5,-3.714,0.000039

In [11]:
10**(-2.067)

0.008570378452303693

## Table with Amarsi 2017 paper Si line data

In [12]:
df_ama = pd.DataFrame(data=df_2['$g_{lower}$'])
df_ama['log $gf$'] = [-2.04, -1.55, -1.95, -1.65, -0.78]
df_ama['f'] = df_ama.apply(lambda x: get_f(x['log $gf$'], x['$g_{lower}$']), axis=1)
df_ama

             $g_{lower}$  log $gf$         f
\lambda (Å)
5645.613               3     -2.04  0.003040
5684.484               5     -1.55  0.005637
5701.104               3     -1.95  0.003740
5772.146               3     -1.65  0.007462
7034.901               5     -0.78  0.033192

In [13]:
df_ama['$g_{lower}$']

\lambda (Å)
5645.613    3
5684.484    5
5701.104    3
5772.146    3
7034.901    5
Name: $g_{lower}$, dtype: int64

In [14]:
# loggf_atom = [-2.067, -1.42, -2.05, -1.75, -3.714]
# loggf_ama = [-2.04, -1.55, -1.95, -1.65, -0.78]
# pd.DataFrame(data=list(zip(loggf_atom, loggf_ama)), columns=[ 'log gf atom file', 'log gf Amarsi 2017'], index=m3d_centre_wavelengths)

## Table with calculated abundances

In [15]:
with open('../mdata/1d_lte_abunds', "rb") as f:
    iag_1dlte_abunds = pickle.load(f)
with open('../mdata/3DNLTE_corrected_abunds', "rb") as f:
    iag_3DNLTE_corrected_abunds = pickle.load(f)
with open('../mdata/1DNLTE_corrected_abunds', "rb") as f:
    iag_1DNLTE_corrected_abunds = pickle.load(f)

In [16]:
df_1dlte_abund = pd.DataFrame(iag_1dlte_abunds, columns=mus, index=lambs).T.astype(float).round(3)
# print(df_1dlte_abund)
print(df_1dlte_abund.to_latex())

\begin{tabular}{lrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &     7.569 &     8.690 &     8.095 &     7.569 &     7.334 \\
0.9 &     7.572 &     8.773 &     8.077 &     7.563 &     7.334 \\
0.8 &     7.574 &     8.810 &     8.169 &     7.579 &     7.339 \\
0.6 &     7.587 &     8.575 &     8.169 &     7.619 &     7.391 \\
0.4 &     7.655 &     9.080 &     8.340 &     7.686 &     7.458 \\
0.2 &     7.789 &     8.737 &     8.661 &     7.809 &     7.562 \\
\bottomrule
\end{tabular}

In [17]:
df_3dnlte_abund = pd.DataFrame(iag_3DNLTE_corrected_abunds, columns=mus, index=lambs).T.astype(float).round(3)
print(df_3dnlte_abund.to_latex())

\begin{tabular}{lrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &     7.638 &     8.739 &     8.165 &     7.637 &     7.415 \\
0.9 &     7.623 &     8.741 &     8.127 &     7.600 &     7.360 \\
0.8 &     7.622 &     8.778 &     8.217 &     7.613 &     7.364 \\
0.6 &     7.613 &     8.490 &     8.193 &     7.623 &     7.375 \\
0.4 &     7.624 &     8.879 &     8.305 &     7.619 &     7.363 \\
0.2 &     7.619 &     8.271 &     8.483 &     7.576 &     7.315 \\
\bottomrule
\end{tabular}

In [18]:
df_1dnlte_abund = pd.DataFrame(iag_1DNLTE_corrected_abunds, columns=mus, index=lambs).T.astype(float).round(3)
print(df_1dnlte_abund.to_latex())

\begin{tabular}{lrrrrr}
\toprule
{} &  5645.613 &  5684.484 &  5701.104 &  5772.146 &  7034.901 \\
\midrule
1.0 &     7.588 &     8.698 &     8.114 &     7.587 &     7.349 \\
0.9 &     7.590 &     8.777 &     8.095 &     7.580 &     7.347 \\
0.8 &     7.591 &     8.811 &     8.186 &     7.594 &     7.350 \\
0.6 &     7.599 &     8.562 &     8.181 &     7.628 &     7.395 \\
0.4 &     7.655 &     9.034 &     8.339 &     7.679 &     7.447 \\
0.2 &     7.740 &     8.580 &     8.609 &     7.741 &     7.502 \\
\bottomrule
\end{tabular}